doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./sass/master.css")
        title Weather app
    body 
        .container 
            .calculator 
                h1 JavaScript
                    br
                    span Age Calculator
                .input-box  
                    input(type="date", id="date")
                    button Calculate 
                p#result
        include includes/_scripts/_scripts            
